{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    button{
      background-color: black;
     
    }
    img{
      border-radius: 10%;

    }
    table{
      text-align: center;
      float: left;
      margin-left: 6%;
    }
    #fy{
      
      display: flex;
      flex-wrap: row-wrap;
    }
  </style>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Page description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="{% static './apple-icon-180x180.png' %}" rel="apple-touch-icon">
  <link href="{% static './favicon.ico' %}" rel="icon">



  <title>Title page</title>  

<link href="{% static './main.82cfd66e.css' %}" rel="stylesheet"></head>

<body>

<!-- Add your content of header -->
<header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="{% url "foodss" %}" class="navbar-brand">Mashup Template</a>
  </div>

  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="./index.html" title="">
            <img class="img-responsive site-logo" alt="" src="{% static './images/mashup-logo.svg' %}">
            Mashup Template
          </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor.</p>
      </div>
      <ul class="nav">
        <li><a href="{% url "foodss" %}" title="">Home</a></li>
        <li><a href="./about.html" title="">About</a></li>
        <li><a href="{% url "services" %}"  title="">Services</a></li>
        <li><a href="{% url "contact" %}" title="">Contact</a></li>
        <li><a href="{% url "components" %}"  title="">Components</a></li>
        <li><a href="{% url "project" %}" title="">project</a></li>
      </ul>

      <nav class="nav-footer">
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="https://www.instagram.com/" title="">
            <i class="fa fa-instagram"></i>
          </a>
          <a class="fa-icon" href="https://dribbble.com/" title="">
            <i class="fa fa-dribbble"></i>
          </a>
          <a class="fa-icon" href="https://twitter.com/" title="">
            <i class="fa fa-twitter"></i>
          </a>
        </p>
        <p>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </nav>  
    </div> 
  </nav>
</header>
<main class="" id="main-collapse">

<!-- Add your site or app content here -->
 
<div class="hero-full-wrapper">
  <div class="grid">
  <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    <div id="fy">
      {% for i in a %}
      <table style="width: 49%;">
        <tr><td colspan="3"><a href="{% url "about" i.id %}"><h1 style="text-align: center;">{{i.name}}</h1></a></td></tr><br><br>
          <tr><td colspan="3"><a href="{% url "about" i.id %}"><img src="{{i.img.url}}" height="320" width="300"></a></td></tr>
          <tr><td colspan="3"><pre>  food   </pre></td></tr>
          <tr><td style="font-size: 200%;" ><a href="{% url "about" i.id %}"><button type="button" style="color: azure;">view</button></a></td>
          <td style="font-size: 200%;"><a href="{% url "edit" i.id %}"><button type="button" style="color: azure;">edit</button></a></td>
          <td style="font-size: 200%;"><a href="{% url "delete" i.id %}"><button type="button" style="color: azure;">delete</button></a></td></tr>
    </table>
      {% endfor %}
    </div>
        </div>
    </div>
</main>


</html>